# Final notebook

### Presentation slides outline

1. Beginning 
    - Overview
    - Business Understanding
2. Middle
    - Data Understanding
    - Data Analysis
3. End
    - Recommendations
    - Next steps
    - Thank you (prompt for questions as well as our contact info here)

- look at other factors affecting safety (engine type, # of engines etc.)
- aircraft safety during VMC and IMC
- phase of flight

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('make_model_risk.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2606 entries, 0 to 2605
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Make                   2606 non-null   object
 1   Model                  2606 non-null   object
 2   Mean_Risk_Index        2606 non-null   float64
 3   Model_Total_Accidents  2606 non-null   float64
 4   Plane_Size             2606 non-null   object
dtypes: float64(2), object(3)
memory usage: 101.9+ KB

In [39]:
df_safest = df.loc[df['Model_Total_Accidents'] > 100]

In [40]:
# Sort df_safest by Mean_Risk_Index in ascending order
df_safest = df_safest.sort_values('Mean_Risk_Index', ascending=True)

In [41]:
df_safest['Plane_Size'].value_counts()

Plane_Size
Small    94
Name: count, dtype: int64

In [42]:
df_safest.loc[df_safest['Plane_Size'] == 'Large']

Empty DataFrame
Columns: [Make, Model, Mean_Risk_Index, Model_Total_Accidents, Plane_Size]
Index: []

In [43]:
df['Plane_Size'].value_counts()

Plane_Size
Small     2504
Medium      76
Large       26
Name: count, dtype: int64

In [44]:
df_safest[:20]

,Make,Model,Mean_Risk_Index,Model_Total_Accidents,Plane_Size
2031,piper,180,0.053314,439.0,Small
985,cessna,180,0.053314,439.0,Small
1032,cessna,185,0.053330,167.0,Small
2132,piper,PA 22,0.053941,129.0,Small
934,cessna,170B,0.066126,265.0,Small
967,cessna,172R,0.068582,161.0,Small
931,cessna,170,0.068819,120.0,Small
2482,schweizer,G 164A,0.072178,254.0,Small
228,air tractor,G 164A,0.072178,254.0,Small
1614,grumman,G 164A,0.072178,254.0,Small
2106,piper,PA 18,0.075128,390.0,Small
899,cessna,120,0.079825,114.0,Small
900,cessna,140,0.083156,282.0,Small
970,cessna,172S,0.083333,352.0,Small
919,cessna,152,0.085603,1252.0,Small
2138,piper,PA 22 150,0.085974,183.0,Small
1666,gulfstream,G 164B,0.086972,284.0,Small
1615,grumman,G 164B,0.086972,284.0,Small
2484,schweizer,G 164B,0.086972,284.0,Small
1201,cessna,A185F,0.089132,190.0,Small