# Final notebook

### Presentation slides outline

1. Beginning 
    - Overview
    - Business Understanding
2. Middle
    - Data Understanding
    - Data Analysis
3. End
    - Recommendations
    - Next steps
    - Thank you (prompt for questions as well as our contact info here)

- look at other factors affecting safety (engine type, # of engines etc.)
- aircraft safety during VMC and IMC
-

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [45]:
from scipy import stats

In [64]:
df = pd.read_csv('make_model_risk.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2606 entries, 0 to 2605
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Make                   2606 non-null   object
 1   Model                  2606 non-null   object
 2   Mean_Risk_Index        2606 non-null   float64
 3   Model_Total_Accidents  2606 non-null   float64
 4   Plane_Size             2606 non-null   object
dtypes: float64(2), object(3)
memory usage: 101.9+ KB

In [65]:
df_safest = df.loc[df['Model_Total_Accidents'] > 100]

In [66]:
# Sort df_safest by Mean_Risk_Index in ascending order
df_safest = df_safest.sort_values('Mean_Risk_Index', ascending=True)

In [67]:
df_safest['Plane_Size'].value_counts()

Plane_Size
Small    79
Name: count, dtype: int64

In [70]:
df_safest['Make_and_Model'] = df_safest['Make'] + ' ' + df_safest['Model']
df['Make_and_Model'] = df['Make'] + ' ' + df['Model']

In [71]:
df_safest[:10]

,Make,Model,Mean_Risk_Index,Model_Total_Accidents,Plane_Size,Make_and_Model
1032,cessna,185,0.053330,167.0,Small,cessna 185
985,cessna,180,0.053436,438.0,Small,cessna 180
2132,piper,PA 22,0.053941,129.0,Small,piper PA 22
934,cessna,170B,0.066126,265.0,Small,cessna 170B
967,cessna,172R,0.068582,161.0,Small,cessna 172R
931,cessna,170,0.068819,120.0,Small,cessna 170
1614,grumman,G 164A,0.072200,247.0,Small,grumman G 164A
2106,piper,PA 18,0.075128,390.0,Small,piper PA 18
899,cessna,120,0.079825,114.0,Small,cessna 120
900,cessna,140,0.083156,282.0,Small,cessna 140

In [73]:
top_ten = df_safest[:10]['Make_and_Model'].tolist()

In [74]:
bottom_ten = df_safest[-10:]['Make_and_Model'].tolist()

In [75]:
print(bottom_ten)

['piper PA 30', 'piper PA 32 260', 'cessna 208B', 'mooney M20K', 'cirrus SR22', 'cessna P210N', 'beechcraft A36', 'piper PA 32R 300', 'piper PA 23 250', 'beechcraft 58']

In [76]:
print(top_ten)

['cessna 185', 'cessna 180', 'piper PA 22', 'cessna 170B', 'cessna 172R', 'cessna 170', 'grumman G 164A', 'piper PA 18', 'cessna 120', 'cessna 140']

In [46]:
df.head()

             Make    Model  Mean_Risk_Index  Model_Total_Accidents Plane_Size
0  aero commander      100         0.145960                   33.0      Small
1  aero commander  100 180         0.087500                   12.0      Small
2  aero commander      112         0.312500                   20.0      Small
3  aero commander     112A         0.095238                   14.0      Small
4  aero commander    114 B         0.300000                    1.0      Small

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2606 entries, 0 to 2605
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Make                   2606 non-null   object
 1   Model                  2606 non-null   object
 2   Mean_Risk_Index        2606 non-null   float64
 3   Model_Total_Accidents  2606 non-null   float64
 4   Plane_Size             2606 non-null   object
dtypes: float64(2), object(3)
memory usage: 101.9+ KB