In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv('aircraft_makes.csv')
df

               Make  count
0            cessna  27149
1             piper  14870
2             beech   5372
3            boeing   2745
4              bell   2722
...             ...    ...
7582          cohen      1
7583       kitchens      1
7584          lutes      1
7585          izatt      1
7586  royse ralph l      1

[7587 rows x 2 columns]